body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fullscreen {
    height: 100%;
    margin: 0;
}

.to-uppercase {
    text-transform: uppercase;
}